<% if @article.errors.any? %>
<h2> The following errors prevented the articles from being created: </h2>
<ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li>
        <%= msg %>
    </li>
    <% end %>
</ul>
<% end %>
<h1>
    <%= simple_form_for @article do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.button :submit %>
    <% end %>
</h1>
<%= link_to 'Back to articles', articles_path %>