<h1> This is the index page </h1>
<%= link_to 'Create new article', new_article_path %>
<br />
<br />
<% @articles.each do |article| %>
<tr>
    <td>
        <%= article.description %>
    </td>
    <td>
        <%= link_to 'Edit', edit_article_path(article) %>
    </td>
    <td>
        <%= link_to 'Show', article_path(article) %>
    </td>
    <td>
        <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %>
    </td>
    <br />
    <% end %>