<h1> This is the articles show page</h1>
<p>
    <%= @article.title %>
</p>
<p>
    <%= @article.description %>
</p>
<%= link_to 'Edit article', edit_article_path(@article) %>
<%= link_to 'Back to articles', articles_path %>