<h1> This is the index page</h1>
<div class="col-10 offset-1">
    <div class=" center jumbotron">
        <h1> ALPHA BLOG </h1>
        <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
</div>