$navbar-default-bg: black;

@import "bootstrap";



.center {
    text-align: center;

}

.jumbotron {
    background-image: asset-url("pic.png");
    background-size: cover;
    height: 550px;

}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
    border-color: white;
}

.btn-xlarge:hover {
    background-color: grey;
    border-color: white;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}