<div class="container">
    <footer class="footer">
        <small>
            Copyright <a href="#">Thehehehehe</a>
            by <a href="#">Wilson Horrell</a>
        </small>
        <nav>
            <ul>
                <li>
                    <%= link_to "About", about_path%>
                </li>
            </ul>
        </nav>
    </footer>
</div>