<nav class="navbar navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to 'Alpha Blog', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <%= link_to 'Articles', articles_path, class: 'nav-link' %>
            </li>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to 'New Article', new_article_path, class: 'nav-link' %>
                <li class="nav-item">
                    <%= link_to 'Sign out', '#', method: :delete, class: 'nav-link' %>
                </li>
                <% else %>
                <li class="nav-item">
                    <%= link_to 'Sign in', '#', class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Sign up', '#', class: 'nav-link' %>
                </li>
            </ul>
</nav>